.input_address {
    width: 100%;
}
.mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color: #ffeed7;
    --mdc-linear-progress-track-color: rgba(255, 250, 238, 0.25);
}

.btn_no_style {
    background: none;
    border: 1px solid #4d4d4d;
    border-radius: 8px;
    cursor: pointer;
    color: lightgrey;
    padding: 16px;
    margin-bottom: 8px;
    margin-right: 16px;

}

.btn_no_style:hover {
background-color: #ffeed7;
color: rgb(26, 26, 26);
}

