<mat-drawer-container class="sidenav_container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo_container">
    LOGO
    </div>

    <ul class="menu_items">
      <li [routerLink]="['/']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">
        <span class="material-icons">dashboard</span> Dashboard
      </li>
      <li [routerLink]="['/user']" routerLinkActive="router-link-active">
        <span class="material-icons">person</span> User
      </li>
    </ul>

  </mat-drawer>
  <div class="example-sidenav-content">
    <mat-toolbar class="toolbar">
      <mat-icon class="nav_icon" (click)="drawer.toggle()">menu</mat-icon>
      <span>Simple CRM</span>
    </mat-toolbar>

<div class="router_outlet_container">
  <router-outlet></router-outlet>
</div>

  </div>
</mat-drawer-container>