
<mat-card class="user_card">   
    <button class="vert_btn"  [matMenuTriggerFor]="menu" (click)="openAddressDialog()" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>more_vert</mat-icon>
      </button>
      
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editMenu()">Edit</button>
      </mat-menu>


<img class="user_icon" src="/assets/img/user_icon.png" alt="profile_avatar">

<div class="user_details">
    <h2>{{user.firstName}} {{user.lastName}}</h2>
    <span>{{user.email}}</span>
</div>
</mat-card>

<mat-card class="user_address mt32">
    <mat-card-title>Address</mat-card-title>

    <mat-card-content class="card_content">
        {{user.street}} <br>
        {{user.zipCode}} {{user.city}}   
    </mat-card-content>
</mat-card>