mat-card{
   min-height: 250px; 
   background-color: bisque;
   display: flex;
   align-items: end;
   flex-direction: row;
   color: #424242;
}

.user_icon {
   width: 150px;
   height: 150px;
   object-fit: cover;
}

.user_details {
   margin-bottom: 24px;
}

h2 {
   margin: 0;
}



