

.add_btn {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 56px; 
    height: 56px; 
    border-radius: 50%; 
    position: absolute;
    bottom: 56px;
    right: 56px;
    background-color: #ffeed7;
    border: none;
    cursor: pointer;
}

  .fab_btn {
    margin: 0; 
}
.user_table{
  width: 100%;
  border-collapse: collapse;

  tr{
    border-bottom: 1px solid #595959;
    &:last-child{
      border-bottom: 0;
    }
  }
  
  th{
    text-align: start;
    font-size: 14px;
    font-weight: 500;
    color: #ffeed7;
    padding-bottom: 8px;
  }
  td{
    font-size: 12px;
    height: 48px;

  }
}