<mat-card appearance="outlined">
  <mat-card-content>
    <table class="user_table">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Birthdate</th>
        <th>Street & House Nr.</th>
        <th>Zip Code</th>
        <th>City</th>
      </tr>

      <tr>
        <td>fill data</td>
        <td>fill data</td>
        <td>fill data</td>
        <td>fill data</td>
        <td>fill data</td>
        <td>fill data</td>
      </tr>

      <tr>
        <td>fill data2</td>
        <td>fill data2</td>
        <td>fill data2</td>
        <td>fill data2</td>
        <td>fill data2</td>
        <td>fill data2</td>
      </tr>

      <tr>
        <td>fill data3</td>
        <td>fill data3</td>
        <td>fill data3</td>
        <td>fill data3</td>
        <td>fill data3</td>
        <td>fill data3</td>
      </tr>
    </table>

  </mat-card-content>
</mat-card>

<button
  (click)="openDialog()"
  class="add_btn mat-fab extended"
  matTooltip="Add User"
  aria-label="Button that displays a tooltip when focused or hovered over"
>
  <mat-icon class="fab_btn">add</mat-icon>
</button>
