
.add_btn {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 56px; 
    height: 56px; 
    border-radius: 50%; 
    position: absolute;
    bottom: 56px;
    right: 56px;
    background-color: #ffeed7;
    border: none;
    cursor: pointer;
}

  .fab_btn {
    margin: 0; 
}