
:root {
    --mdc-outlined-text-field-focus-outline-color: white;
  }
:root {
    --mdc-outlined-text-field-focus-label-text-color: white;
}  
:root{
    --mdc-outlined-text-field-caret-color: white;
}
:root {
    --mdc-filled-text-field-caret-color: white; 
}
:root {
    --mdc-filled-text-field-focus-active-indicator-color: white;
}
:root {
    --mdc-filled-text-field-focus-label-text-color: white;
}
:root {
    --mat-datepicker-toggle-active-state-icon-color: white; 
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.logo {
width: 130px;
}
.mt-16 {
    margin-top: 16px;
}

.mr-16 {
    margin-right: 16px;
}

.ml-16 {
    margin-left: 16px
}

.full_width {
    width: 100%;
}

.btn_no_style {
    background: none;
    border: none;
    cursor: pointer;
    color: lightgrey;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input{
    caret-color: white;
}